      <h1>Hello, {{ title() }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
      <div class="pokemon-list">
        @for (item of pokemonList(); track item.name) {
        <div>
          <h3>{{ item.name }}</h3>
          <p>ID: {{ item.id }}</p>
          @if (item.sprites?.front_default) {
          <img [src]="item.sprites.front_default" [alt]="item.name" />
          }
          <p>Altura: {{ item.height }} | Peso: {{ item.weight }}</p>
        </div>
        }
      </div>
<router-outlet />